// ! TOTALS HEADER
.inc-exp-total {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  margin: 12px 6px 6px 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--border-color);
}

.inc-exp-total-column {
  min-height: 34px;
  align-self: center;
}

.inc-exp-total-column-text {
  font-size: 0.85em;
  text-align: center;
}

.inc-exp-total-column-number {
  font-size: 0.95em;
  text-align: center;
}

// ! WEEK HEADER
.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-items: center;
  border: 1px solid var(--border-color);
  margin: 6px 6px 0px 6px;
  border-bottom: none;
}

.week-day {
  font-size: 0.8em;
  padding: .55em 0;
}

// ? CALENDAR
.calendar {
  display: grid;
  box-sizing: content-box;
  margin: 0px 6px 6px 6px;
  grid-template-columns: repeat(7, 1fr);
  // height: 70vh;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.cell {
  // place-self: center;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  box-sizing: border-box;
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  min-height: 66px;
  cursor: pointer;

  &:nth-of-type(7n + 7) {
    border-right: 0;
  }

  &.cellDisabled {
    background: #f1f1f1;
    opacity: 0.6;
  }

  &.selected {
    border-left: 3px solid #1bb7ffde;
  }
}

.cell-number {
  justify-self: end;
  font-size: 0.75em;
  padding: 0.3em;

  &.isSunday {
    color: var(--expense-color);
  }
}

.cell-expense {
  justify-self: end;
  font-size: 0.72em;
  padding: 0.2em;
  color: var(--expense-color);
}

.cell-income {
  justify-self: end;
  font-size: 0.72em;
  padding: 0.2em;
  color: var(--income-color);
}
