<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{mainCategory?.catName}} Subcategories</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addNewInModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-reorder-group (ionItemReorder)="doReorder($event, 'subcategories')" disabled="false">
    <ng-container *ngFor="let item of subcategories; let i=index">
      <ion-item lines="full" button>
        <ion-icon slot="start" name="pencil" (click)="editInModal(item)"></ion-icon>
        <ion-label>
          {{item.subCatName}}
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ng-container>
  </ion-reorder-group>
</ion-content>
