<ion-tabs >
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="transactions">
      <ion-icon name="list"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="pie-chart"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
