<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content ion-padding">
  <ion-item>
    <ion-label position="floating">Name *</ion-label>
    <ion-input [(ngModel)]="name" type="text" required></ion-input>
  </ion-item>

  <ng-container *ngIf="flag === 'add' && type === 'category'">
    <ion-radio-group [(ngModel)]="incomeExpense">
      <ion-list-header>
        <ion-label>Expense or Income?</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Expense</ion-label>
        <ion-radio slot="start" value="Expense" name="type" ></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Income</ion-label>
        <ion-radio slot="start" value="Income" name="type"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ng-container>

  <br />

  <ion-button
    type="submit"
    color="secondary"
    expand="block"
    (click)="onSubmit()"
    [disabled]="submitDisabled()"
    >Submit</ion-button
  >
  <ion-button color="medium" expand="block" (click)="dismissModal()">Cancel</ion-button>
  <br>
  <br>
  <ion-button color="danger" expand="block" (click)="delete()" *ngIf="flag === 'edit'"
    >Delete</ion-button
  >
</ion-content>
