// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** font **/
  --ion-font-family: 'RobotoCondensed', sans-serif;

  /** primary **/
  --ion-color-primary: #264653;
  --ion-color-primary-rgb: 38, 70, 83;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #213e49;
  --ion-color-primary-tint: #3c5964;

  /** secondary **/
  --ion-color-secondary: #2a9d8f;
  --ion-color-secondary-rgb: 42, 157, 143;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #258a7e;
  --ion-color-secondary-tint: #3fa79a;

  /** tertiary **/
  --ion-color-tertiary: #e9c46a;
  --ion-color-tertiary-rgb: 233, 196, 106;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #cdac5d;
  --ion-color-tertiary-tint: #ebca79;

  /** success **/
  --ion-color-success: #f4a261;
  --ion-color-success-rgb: 244, 162, 97;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #d78f55;
  --ion-color-success-tint: #f5ab71;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #e76f51;
  --ion-color-danger-rgb: 231, 111, 81;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #cb6247;
  --ion-color-danger-tint: #e97d62;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** mine **/
  --border-color: #d3d3d3;
  --income-color: #016fa1;
  --expense-color: #c21700;
  --ion-text-color: #292929;

}
