<ion-content>
  <ion-button (click)="prevoiusDate()">Prev date</ion-button>
  <ion-button (click)="nextDate()">Next date</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="addNewInModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- ! TOTALS -->
  <div class="inc-exp-total">
    <div class="inc-exp-total-column">
      <div class="inc-exp-total-column-text">
        Income
      </div>
      <div class="inc-exp-total-column-number" style="color: #2e6de4;">
        {{totalIncome | number: '1.2-2' }}
      </div>
    </div>

    <div class="inc-exp-total-column">
      <div class="inc-exp-total-column-text">
        Expenses
      </div>
      <div class="inc-exp-total-column-number" style="color: #c92626;">
        {{totalExpense | number: '1.2-2' }}
      </div>
    </div>

    <div class="inc-exp-total-column">
      <div class="inc-exp-total-column-text">
        Total
      </div>
      <div class="inc-exp-total-column-number">
        {{totalIncome - totalExpense | number: '1.2-2' }}
      </div>
    </div>
  </div>

  <!-- ! CARD -->
  <ng-container *ngFor="let day of dailyData">
    <app-daily-trans [day]="day" (command)="onTransClick($event)"></app-daily-trans>
  </ng-container>
  <div class="dummy"></div>
</ion-content>
