<ion-header>
  <ion-toolbar>
    <ion-title>
      Hello
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="importCategory()">Import Category</ion-button>
  <ion-button (click)="importSubCategory()">Import subCategory</ion-button>
  <ion-button (click)="importAccount()">importAccount</ion-button>
  <ion-button (click)="importTransaction()">importTransaction</ion-button>
  <ion-button (click)="importTotals()">import Totals</ion-button>
  <ion-button (click)="replaceAccounts()">replaceAccounts</ion-button>
  <ion-button (click)="replaceCategories()">replaceCategories</ion-button>
  <ion-button (click)="replaceCatsOrder()">replace Cats Order</ion-button>
  <br>
  <pre>
    {{catorderFromFb | json}}
  </pre>
</ion-content>
