<div class="container">
  <ng-container *ngIf="type === 1">
    <ion-list>
      <ng-container *ngFor="let item of expenseCats; let i = index">
        <ion-item
          [detail]="itemHasSubcategories(item.id)"
          lines="full"
          button
          (click)="onMainCategoryClick(item, i)"
        >
          <ion-label>
            {{ item.catName }}
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>
  <!--
  <ng-container *ngIf="type === 0">
      <ion-list>
        <ng-container *ngFor="let item of incomeCats; let i = index">
          <ion-item
          [detail]="itemHasSubcategories(item.id, 'incomeCats')"
          lines="full"
          button
          (click)="onMainCategoryClick(item, i)"
          >
          <ion-label>
            {{ item.catName }}
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container> -->

  <ion-list>
    <ng-container *ngFor="let item of emptyItems">
      <ion-item lines="full" class="empty-item"></ion-item>
      <div class="one-pixel"></div>
    </ng-container>
    <ng-container *ngFor="let item of filteredSubCategories; let j = index">
      <ion-item lines="full" button (click)="onSubcategoryClick(item)">
        <ion-label class="sub-label">
          {{ item.subCatName }}
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</div>
